<link href="/font-montserrat/montserrat.css" rel="stylesheet">
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type" : "LocalBusiness",
    "@id" : {{ .Site.Home.Permalink | absURL }},
    "name" : "Dentista Musco",
    "hasMap": "https://maps.google.com/maps?cid=83850303507606927",
    "logo" : {{ .Site.Params.logo | absURL }},
    "telephone" : "+393939190143",
    "email" : "dentistacarmelomusco@gmail.com",
    "url" :  {{ .Site.Home.Permalink | absURL }},
    "image" : {{ printf "/blocks/img/ortodonzia.jpg" | absURL }},
    "description" : "Odontoiatria Implantologia Ortodonzia Musco Carmelo",
    "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "Via Senatore Avvocato Edoardo di Giovanni",
        "addressLocality" : "Siracusa",
        "addressRegion" : "SR",
        "postalCode" : "96100"
    },
    "geo" : {
        "@type" : "GeoCoordinates",
        "latitude" : "37.08378088983533",
        "longitude" : "15.2909981134924"
    }
}
</script>
<style>
header.jumbotronContainer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/jumbo.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
header.jumbotronContainer, header.jumbotronContainer * {
    text-shadow: rgba(47, 51, 53, 0.95) 0px 0px 10px;
}
@media only screen and (max-width: 700px) {
    .jumbotron h2, .jumbotron h2.huge {
        font-size: 52px;
    }
    .jumbotron {
        align-content: center;
    }
}
@media only screen and (max-width: 700px) and (min-height: 600px) {
    header.jumbotronContainer {
        background-position: 0, top 0 right -300px;
    }
}
@media only screen and (max-height: 800px) {
    .jumbotron h2, .jumbotron h2.huge {
        font-size: 40px;
    }
    .jumbotron h3 {
        font-size: 16px;
    }

    .jumbotron ul li a, .jumbotron ul li a.huge {
        font-size: 18px;
    }

    header.jumbotronContainer .arrow, header.jumbotronContainer .arrow svg {
        width: 32px; height: 32px;
    }

    .jumbotron {
        height: 80vh;
    }
}
</style>
<meta name="keywords" content="dentista, siracusa, priolo gargallo, implantologia, ortodonzia, odontoiatria, estetica">
