/* montserrat-thin-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 100;
	src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url(montserrat-thin-italic.woff2) format("woff2");
}
/* montserrat-thin */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 100;
	src: local("Montserrat Thin"), local("Montserrat-Thin"), url(montserrat-thin.woff2) format("woff2");
}
/* montserrat-semibold-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url(montserrat-semibold-italic.woff2) format("woff2");
}
/* montserrat-semibold */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(montserrat-semibold.woff2) format("woff2");
}
/* montserrat-regular */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url(montserrat-regular.woff2) format("woff2");
}
/* montserrat-medium-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url(montserrat-medium-italic.woff2) format("woff2");
}
/* montserrat-medium */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	src: local("Montserrat Medium"), local("Montserrat-Medium"), url(montserrat-medium.woff2) format("woff2");
}
/* montserrat-light-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 200;
	src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(montserrat-light-italic.woff2) format("woff2");
}
/* montserrat-light */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	src: local("Montserrat Light"), local("Montserrat-Light"), url(montserrat-light.woff2) format("woff2");
}
/* montserrat-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src: local("Montserrat Italic"), local("Montserrat-Italic"), url(montserrat-italic.woff2) format("woff2");
}
/* montserrat-extralight-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 150;
	src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url(montserrat-extralight-italic.woff2) format("woff2");
}
/* montserrat-extralight */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 150;
	src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url(montserrat-extralight.woff2) format("woff2");
}
/* montserrat-extrabold-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url(montserrat-extrabold-italic.woff2) format("woff2");
}
/* montserrat-extrabold */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(montserrat-extrabold.woff2) format("woff2");
}
/* montserrat-bold-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url(montserrat-bold-italic.woff2) format("woff2");
}
/* montserrat-bold */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url(montserrat-bold.woff2) format("woff2");
}
/* montserrat-black-italic */
@font-face {
	font-family: Montserrat;
	font-style: italic;
	font-weight: 900;
	src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url(montserrat-black-italic.woff2) format("woff2");
}
/* montserrat-black */
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	src: local("Montserrat Black"), local("Montserrat-Black"), url(montserrat-black.woff2) format("woff2");
}

